[submodule "mods/mesecons"]
	path = mods/mesecons
	url = https://github.com/mt-mods/mesecons/
[submodule "mods/digilines"]
	path = mods/digilines
	url = https://github.com/minetest-mods/digilines/
[submodule "mods/display_modpack"]
	path = mods/display_modpack
	url = https://github.com/pyrollo/display_modpack
[submodule "mods/moreblocks"]
	path = mods/moreblocks
	url = https://github.com/minetest-mods/moreblocks.git
[submodule "mods/default"]
	path = mods/default
	url = https://github.com/minetest-game/default
[submodule "mods/flowers"]
	path = mods/flowers
	url = https://github.com/minetest-game/flowers
[submodule "mods/doors"]
	path = mods/doors
	url = https://github.com/minetest-game/doors
[submodule "mods/player_api"]
	path = mods/player_api
	url = https://github.com/minetest-game/player_api
[submodule "mods/screwdriver"]
	path = mods/screwdriver
	url = https://github.com/minetest-game/screwdriver
[submodule "mods/creative"]
	path = mods/creative
	url = https://github.com/minetest-game/creative
[submodule "mods/dye"]
	path = mods/dye
	url = https://github.com/minetest-game/dye
[submodule "mods/sfinv"]
	path = mods/sfinv
	url = https://github.com/minetest-game/sfinv
[submodule "mods/factory_bridges"]
	path = mods/factory_bridges
	url = https://github.com/pandorabox-io/factory_bridges
[submodule "mods/digistuff"]
	path = mods/digistuff
	url = https://github.com/minetest-mirrors/digistuff
[submodule "mods/i3"]
	path = mods/i3
	url = https://github.com/minetest-mods/i3/
[submodule "mods/printer"]
	path = mods/printer
	url = https://cheapiesystems.com/git/printer/
[submodule "mods/digibuilder"]
	path = mods/digibuilder
	url = https://github.com/BuckarooBanzay/digibuilder
[submodule "mods/mtt"]
	path = mods/mtt
	url = https://github.com/buckarooBanzay/mtt
[submodule "mods/mapsync"]
	path = mods/mapsync
	url = https://github.com/BuckarooBanzay/mapsync
[submodule "mods/mtzip"]
	path = mods/mtzip
	url = https://github.com/BuckarooBanzay/mtzip
[submodule "mods/technic"]
	path = mods/technic
	url = https://github.com/mt-mods/technic
[submodule "mods/pipeworks"]
	path = mods/pipeworks
	url = https://github.com/mt-mods/pipeworks
[submodule "mods/moreores"]
	path = mods/moreores
	url = https://github.com/minetest-mods/moreores
[submodule "mods/basic_materials"]
	path = mods/basic_materials
	url = https://github.com/mt-mods/basic_materials
