[submodule "mods/mesecons"]
	path = mods/mesecons
	url = https://github.com/minetest-mods/mesecons/
[submodule "mods/digilines"]
	path = mods/digilines
	url = https://github.com/minetest-mods/digilines/
[submodule "mods/modgen"]
	path = mods/modgen
	url = https://github.com/BuckarooBanzay/modgen
