[submodule "mods/mesecons"]
	path = mods/mesecons
	url = https://github.com/minetest-mods/mesecons/
[submodule "mods/digilines"]
	path = mods/digilines
	url = https://github.com/minetest-mods/digilines/
[submodule "mods/modgen"]
	path = mods/modgen
	url = https://github.com/BuckarooBanzay/modgen
[submodule "mods/display_modpack"]
	path = mods/display_modpack
	url = https://github.com/pyrollo/display_modpack
[submodule "mods/moreblocks"]
	path = mods/moreblocks
	url = https://github.com/minetest-mods/moreblocks.git
[submodule "mods/default"]
	path = mods/default
	url = https://github.com/minetest-game/default
[submodule "mods/flowers"]
	path = mods/flowers
	url = https://github.com/minetest-game/flowers
